.container {
    width: 1140px;
    margin: 0 auto;
}
@mixin menu_a {
    display: block;
    font-size: 13px;
    font-weight: 300;
    color: #bdc3c5;
    text-decoration: none;
}
@mixin header {
    font-size: 13px;
    font-weight: 300;
    color: #4673ab;
}