.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 52px;
    &__region {
        font-size: 13px;
        font-weight: 300;
        color: #323232;
        a {
            @include header;
        }
    }
    &__login {
        a {
            @include header;
            padding-left: 20px;
        }
    }
}