@media (max-width: 1200px) {
    .container {
        width: 940px;
    }
    header {
        nav {
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .menu {
                    display: none;
                }
                .hamburger {
                    display: block;
                    margin: 2px auto;
                    position: absolute;
                    top: 50%;
                }
            }
        }
        .block-1 {
            .promo {
                &__bell {
                    padding-left: 5%;
                    .skype {
                        display: flex;
                    }
                }
                &__voip {
                    display: none;
                }
                &__basket {
                    &_search {
                        display: block;
                    }
                }
            }
        }
    }
    .goods {
        .sub-menu {
            display: none;
        }
        &__novely {
            width: 646px;
            &_header {
                width: 646px;
                font-size: 12px;
                span {
                    font-size: 12px;
                }
            }
            &_link {
                font-size: 12px;
            }
            .carousel {
                width: 646px;
                height: 368px;
                &__inner {
                    width: 646px;
                }
                &__bg {
                    background-position: 65%;
                }
            }
        }
    }
    .goods-sale {
        &__wrapper {
            padding: 0 0;
            .tns-outer{
                .tns-controls {
                    display: flex;
                    justify-content: flex-end;
                    position: relative;
                    width: 980px;
                    [data-controls=prev] {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        top: -13px;
                        border: 1px solid #dbdee6;
                        left: 88%;
                        &:hover {
                            border: 1px solid $general;
                        }
                        img {
                            margin: 0 auto;
                            width: 8px;
                            height: 14px;
                        }
                    }
                    [data-controls=next] {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        top: -13px;
                        border: 1px solid #dbdee6;
                        right: 5%;
                        &:hover {
                            border: 1px solid $general;
                        }
                        img {
                            margin: 0 auto;
                            width: 8px;
                            height: 14px;
                        }
                    }
                }
            }
        }
        &__header {
            .goods-sale__header_title {
                display: flex;
                img {
                    display: block;
                    padding-right: 25px;
                }
            }
            &_line-new,
            &_line-like,
            &_line-percent,
            &_line-stock,
            &_line-brand {
                margin-right: 90px;
            }
            &_link {
                display: none;
            }
            .goods-sale__header_line-compani,
            .goods-sale__header_line-brand {
                width: calc(100% - 46%);
            }
            .goods-sale__header_line-shop {
                width: calc(100% - 38%);
            }
            .goods-sale__header_line-number {
                width: calc(100% - 20%);
            }
            .goods-sale__header_line-worck {
                width: calc(100% - 30%);
            }
        }
        .goods-sale__compani_wrapper {
            .goods-sale__compani_disadvantage {
                width: 455px;
                .disadvantage-content {
                    width: 451px;
                    ul{
                        padding-top: 24px;
                        padding-left: 40px;
                        li{
                            width: 400px;
                            .weight-black {
                                line-height: 10px;
                            } 
                            span {
                                line-height: 10px;
                            } 
                        }
                    }
                }
            }
            .goods-sale__compani_advantage {
                width: 455px;
                .advantage-content {
                    width: 451px;
                    ul{
                        padding-top: 24px;
                        padding-left: 40px;
                        li{
                            width: 400px;
                            .weight-black {
                                line-height: 10px;
                            } 
                            span {
                                line-height: 10px;
                            } 
                        }
                    }
                }
            }
        }
    }
    .footer {
        &__addres {
            width: 155px;
        }
        &__comment {
            position: absolute;
            bottom: -5%;
            right: 28%;
        }
        &__schedule {
            display: flex;
            flex-direction: column;
            align-items: flex-end
        }
        .skype {
            display: flex;
        }
    }
}
@media (max-width: 750px) {
    .container {
        width: 720px;
    }
}