@media (max-width: 1200px) {
    .container {
        width: 940px;
    }
    header {
        nav {
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .menu {
                    display: none;
                }
                .hamburger {
                    display: block;
                    margin: 2px auto;
                    position: absolute;
                    top: 50%;
                }
            }
        }
        .block-1 {
            .promo {
                &__bell {
                    padding-left: 5%;
                    .skype {
                        display: flex;
                    }
                }
                &__voip {
                    display: none;
                }
                &__basket {
                    &_search {
                        display: block;
                    }
                }
            }
        }
    }
    .goods {
        .sub-menu {
            display: none;
        }
        &__novely {
            width: 646px;
            &_header {
                width: 646px;
                font-size: 12px;
                span {
                    font-size: 12px;
                }
            }
            &_link {
                font-size: 12px;
            }
            .carousel {
                width: 646px;
                height: 368px;
                &__inner {
                    width: 646px;
                }
                &__bg {
                    background-position: 65%;
                }
            }
        }
    }
    .goods-sale {
        &__wrapper {
            padding: 0 0;
            .tns-outer{
                .tns-controls {
                    display: flex;
                    justify-content: flex-end;
                    position: relative;
                    width: 980px;
                    [data-controls=prev] {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        top: -13px;
                        border: 1px solid #dbdee6;
                        left: 88%;
                        &:hover {
                            border: 1px solid $general;
                        }
                        img {
                            margin: 0 auto;
                            width: 8px;
                            height: 14px;
                        }
                    }
                    [data-controls=next] {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        top: -13px;
                        border: 1px solid #dbdee6;
                        right: 5%;
                        &:hover {
                            border: 1px solid $general;
                        }
                        img {
                            margin: 0 auto;
                            width: 8px;
                            height: 14px;
                        }
                    }
                }
            }
        }
        &__header {
            .goods-sale__header_title {
                display: flex;
                img {
                    display: block;
                    padding-right: 25px;
                }
            }
            &_line-new,
            &_line-like,
            &_line-percent,
            &_line-stock,
            &_line-brand {
                margin-right: 90px;
            }
            &_link {
                display: none;
            }
            .goods-sale__header_line-compani,
            .goods-sale__header_line-brand {
                width: calc(100% - 46%);
            }
            .goods-sale__header_line-shop {
                width: calc(100% - 38%);
            }
            .goods-sale__header_line-number {
                width: calc(100% - 20%);
            }
            .goods-sale__header_line-worck {
                width: calc(100% - 30%);
            }
        }
        .goods-sale__compani_wrapper {
            .goods-sale__compani_disadvantage {
                width: 455px;
                .disadvantage-content {
                    width: 451px;
                    ul{
                        padding-top: 24px;
                        padding-left: 40px;
                        li{
                            width: 400px;
                            .weight-black {
                                line-height: 10px;
                            } 
                            span {
                                line-height: 10px;
                            } 
                        }
                    }
                }
            }
            .goods-sale__compani_advantage {
                width: 455px;
                .advantage-content {
                    width: 451px;
                    ul{
                        padding-top: 24px;
                        padding-left: 40px;
                        li{
                            width: 400px;
                            .weight-black {
                                line-height: 10px;
                            } 
                            span {
                                line-height: 10px;
                            } 
                        }
                    }
                }
            }
        }
    }
    .footer {
        &__addres {
            width: 155px;
        }
        &__comment {
            position: absolute;
            bottom: -5%;
            right: 28%;
        }
        &__schedule {
            display: flex;
            flex-direction: column;
            align-items: flex-end
        }
        .skype {
            display: flex;
        }
    }
}
@media (max-width: 979px) {
    .container {
        width: 720px;
    }
    header {
        .block-1 {
            .promo {
                margin: 0;
                padding-top: 15px;
                &__bell {
                    padding-left: 0;
                    position: absolute;
                    top: 2px;
                    left: 33%;
                }
                &__comment {
                    display: none;
                }
                &__schedule{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                }
            }
        }
    }
    .goods {
        .goods__news {
            .goods__news_header {
                font-size: 19px;
                margin-right: 25px;
            }
            .goods__item {
                padding: 8px 0 8px 0;
                margin-right: 25px;
            }
        }
        &__novely {
            width: 470px;
            &_header {
                width: 470px;
                font-size: 9px;
                span {
                    font-size: 9px;
                }
            }
            &_link {
                font-size: 9px;
            }
            .carousel {
                width: 470px;
                .carousel__inner {
                    .novely__header {
                        font-size: 20px;
                        span {
                            font-size: 16px;
                        }
                    }
                    .novely__subheader {
                        font-size: 11px;
                    }
                    ul {
                        padding-left: 65px;
                        li {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
   .goods-sale {
        &__wrapper {
            position: relative;
            padding: 0 0;
            .tns-outer {
                .tns-controls {
                    display: flex;
                    justify-content: flex-end;
                    position: relative;
                    width: 980px;
                    [data-controls=prev] {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        top:  -13px;
                        border: 1px solid #dbdee6;
                        left: 65%;
                        &:hover {
                            border: 1px solid $general;
                        }
                        img {
                            margin: 0 auto;
                            width: 8px;
                            height: 14px;
                        }
                    }
                    [data-controls=next] {
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        top: -13px;
                        border: 1px solid #dbdee6;
                        right: 28%;
                        &:hover {
                            border: 1px solid $general;
                        }
                        img {
                            margin: 0 auto;
                            width: 8px;
                            height: 14px;
                        }
                    }
                }
            }
        }
        .goods-sale__shop_wrapper {
            .goods-sale__shop_inner {
                &:last-child {
                    display: none;
                }
            }
        }
        &__bg {
            .goods-sale__force_wrapper {
                .goods-sale__force_line {
                    width: 50%;
                }
            }
            .goods-sale__price {
                .goods-sale__price_list {
                    width: 120px;
                }
            }
        }
        .goods-sale__header{
            .goods-sale__header_line-compani {
                width: calc(100% - 62%);
            }
        }
        &__header {
            .goods-sale__header_title {
                display: flex;
                img {
                    display: block;
                    padding-right: 25px;
                }
            }
            &_line-new,
            &_line-like,
            &_line-percent,
            &_line-stock,
            &_line-brand {
                margin-right: 90px;
            }
            &_link {
                display: none;
            }
            .goods-sale__header_line-compani,
            .goods-sale__header_line-brand {
                width: calc(100% - 60%);
            }
            .goods-sale__header_line-shop {
                width: calc(100% - 50%);
            }
            .goods-sale__header_line-number {
                width: calc(100% - 36%);
            }
            .goods-sale__header_line-worck {
                width: calc(100% - 40%);
            }
        }
        .goods-sale__compani_wrapper {
            .goods-sale__compani_disadvantage {
                width: 345px;
                .disadvantage-content {
                    width: 341px;
                    height: 491px;
                    ul{
                        padding-top: 20px;
                        padding-left: 33px;
                        li{
                            width: 300px;
                            .weight-black {
                                line-height: 26px;
                            } 
                            span {
                                line-height: 26px;
                            } 
                        }
                    }
                }
            }
            .goods-sale__compani_advantage {
                width: 345px;
                .advantage-content {
                    width: 341px;
                    height: 491px;
                    ul{
                        padding-top: 20px;
                        padding-left: 33px;
                        li{
                            width: 300px;
                            .weight-black {
                                line-height: 26px;
                            } 
                            span {
                                line-height: 26px;
                            } 
                        }
                    }
                }
            }
        }
    }
    .goods-sale {
        .goods-sale__header {
            .goods-sale__header_line-number {
                margin-right: 90px;
            }
        }
        .tns-outer {
            .tns-controls {
                display: flex;
                justify-content: flex-end;
                position: relative;
                width: 980px;
                [data-controls=prev] {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    top:  -13px;
                    border: 1px solid #dbdee6;
                    left: 65%;
                    &:hover {
                        border: 1px solid $general;
                    }
                    img {
                        margin: 0 auto;
                        width: 8px;
                        height: 14px;
                    }
                }
                [data-controls=next] {
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                    top: -13px;
                    border: 1px solid #dbdee6;
                    right: 28%;
                    &:hover {
                        border: 1px solid $general;
                    }
                    img {
                        margin: 0 auto;
                        width: 8px;
                        height: 14px;
                    }
                }
            }
        }
    }
}   