.new-goods {
    margin-top: 49px;
    &__wrapper {
        position: relative;
        .tns-outer{
            .tns-controls {
                [data-controls=prev] {
                    position: absolute;
                    top: 50px;
                }
                [data-controls=prev] {
                    position: absolute;
                    top: 50px;
                }
            }
        }
    }
    .new-goods__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &_title {
            width: 103px;
            height: 18px;
            font-size: 22px;
            font-weight: 500;
            text-transform: uppercase;
            color: #040d0d;
        }
        &_line{
            margin-top: 11px;
            width: 927px;
            height: 1px;
            border-bottom: 1px solid #bdc3c5;
        }
        &_link {
            width: 76px;
            height: 13px;
            a {
                @include text-blu;
                text-decoration: underline;
            }
        }
    }
    .new-goods__carousel {
        display: flex;
        justify-content: space-around;
        padding: 45px 10px 40px 10px;
        &_inner {
            width: 233px;
            height: 388px;
            margin: 15px;
            background-color: #ffffff;
            border: 1px solid #dbdee6;
            border-radius: 10px;
            &:hover {
                border: 1px solid #ff5e1e;
            }
        }
        &_img {
            padding-top: 32px;
            display: block;
            margin: 0 auto;

        }
        &_title {
            display: block;
            padding-left: 20px;
            width: 155px;
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
            color: #4673ab;
            &:hover {
                color: $general;
            }
        }
        &_price{
            padding-left: 20px;
            padding-top: 15px;
            font-size: 13px;
            font-weight: 300;
            color: #1a2222;
            .price {
                font-size: 20px;
                font-weight: 500;
            }
            .discount {
                text-decoration: line-through;
                color: #ff5816;
            }
        }
        div {
            padding-top: 20px;
            padding-left: 20px;
            button {
                background: $general;
                border: none;
                width: 114px;
                height: 40px;
                border-radius: 7px;
                &:hover {
                    background: #4673ab;
                }
            }
            a {
                padding-left: 5px;
                @include text-blu;
                text-decoration: underline; 
            }
        }
    }
}
