.goods-sale {
    margin-top: 49px;
    &__wrapper {
        padding: 0 25px;
        .tns-outer{
            .tns-controls {
                [data-controls=prev] {
                    position: absolute;
                    top: 52%;
                    z-index: 100;
                    transform: translateY(-52%);
                    border: medium none;
                    background: transparent;
                    left: 0;
                }
                [data-controls=next] {
                    position: absolute;
                    top: 52%;
                    z-index: 100;
                    transform: translateY(-52%);
                    border: medium none;
                    background: transparent;
                    right: 0;
                }
            }
        }
    }
    .goods-sale__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &_title {
            width: 103px;
            height: 18px;
            font-size: 22px;
            font-weight: 500;
            text-transform: uppercase;
            color: #040d0d;
        }
        &_line{
            margin-top: 11px;
            width: 927px;
            height: 1px;
            border-bottom: 1px solid #bdc3c5;
        }
        &_link {
            width: 76px;
            height: 13px;
            a {
                @include text-blu;
                text-decoration: underline;
            }
        }
    }
    .goods-sale__carousel,
    .goods-sale__carousel-like {
        display: flex;
        justify-content: space-around;
        padding: 45px 12px 40px 12px;
        &_inner {
            padding: 32px 0 0 20px;
            position: relative;
            width: 233px;
            height: 388px;
            margin: 10px;
            background-color: #ffffff;
            border: 1px solid #dbdee6;
            border-radius: 10px;
            &:hover {
                border: 1px solid #ff5e1e;
            }
        }
        &_discount {
            display: block;
            position: absolute;
            top: -6px;
            left: 12px;
        }
        &_img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 154px;
            height: 162px;
            margin: 0 auto;
            img {
                display: block;
            }

        }
        &_title {
            display: block;
            padding-top: 35px;
            width: 155px;
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
            color: #4673ab;
            &:hover {
                color: $general;
            }
        }
        &_price{
            display: flex;
            align-items: flex-end;
            padding-top: 15px;
            font-size: 13px;
            font-weight: 300;
            color: #1a2222;
            .price {
                font-size: 20px;
                font-weight: 500;
                padding-left: 10px;
            }
            .discount {
                padding-left: 10px;
                text-decoration: line-through;
                color: #ff5816;
            }
        }
        &_btn {
            display: flex;
            padding-top: 20px;
            align-items: center;
            button {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                background: #ff5816;
                border: none;
                width: 114px;
                height: 40px;
                border-radius: 7px;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
                color: #ffffff;
                cursor: pointer;
                &:hover {
                    background: #4673ab;
                }
                img {
                    margin-right: 5px;
                }
            }
            a {
                padding-left: 10px;
                @include text-blu;
                text-decoration: underline; 
            }
        }
    }
}
